{% extends 'baseregistration.html' %}
{% load static %}
{% block title %}Editar una categoria{% endblock %}
{% block ExtraScript %}
<script type="text/javascript" src="{% static "colorfield/jscolor/jscolor.js" %}"></script>
<script type="text/javascript" src="{% static "colorfield/colorfield.js" %}"></script>
<script type="text/javascript" src="{% static "colorfield/jscolor/jscolor.min.js" %}"></script>
{% endblock %}
{% block content %}
<main role="main">
  <div class="container p-3" style="background-color: oldlace;">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
          <p style="color: green;">
            Categoria editada correctamente
          </p>
          {% endif %}
          <h2> Editar {{object.name}}</h2>
          <form action="" method="post" enctype="multipart/form-data"ma>{% csrf_token %}
            <table>
              {{ form.as_p }}
            </table>
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Actualizar Categoria" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}