{% extends 'index.html' %}
{% load static %}
{% block title %}{{object.name}}{% endblock %}
{% block content %}
<header>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="margin-bottom:20px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" filter-color="black" src="{{object.image_ref.url}}"
                    style="height: 550px; filter: brightness(80%);">
                <h3 id="centered">{{object.name}}</h3>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8 bg-white  p-3 my-3 border">
            <!-- Title -->
            <h1 class="mt-4">{{object.name}}</h1>
            <!-- Author -->
            {% for category in object.category.all %}
            <h4><a href="{% url 'blog:categories' category.slug %}" class="badge badge-pillbadge badge-info">
                    {{category.name }}</a></h4>
            {% endfor %}
            <hr>
            <!-- Date/Time -->
            <p>{{ object.created_date.date }}</p>
            <hr>
            <!-- Post Content -->
            <p class="lead">{{object.description|safe}}</p>
            <footer class="aling-bottom">
                <h2>Tags:</h2>
                {% for tag in object.tags.all %}
                <a href="{% url 'blog:searchTags' tag %}" class="badge badge-primary">{{ tag }}</a>
                {% endfor %}
            </footer>
        </div>

        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <div class="bio text-center">
                    <img src="{{object.user.Profile.image.url}}" alt="Image Placeholder"
                        class="img-fluid rounded-circle mb-5" style="padding: 20px 0; width:150px">
                    <div class="bio-body">
                        <h2 style="color: #000000;">{{object.user.get_full_name}}</h2>
                        <p class="mb-4 p-4" style="color: #000000;">{{object.user.Profile.description}}</p>
                        <p class="social">
                            <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                            <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                            <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side Widget -->
    </div>
</div>

{% endblock %}