{% extends 'baseregistration.html' %}
{% block title %}Adminitración{% endblock %}
{% block content %}
<div class="contact-area section-padding-0-80">
    <div class="container p-3 my-3 bg-primary text-white">
        <div class="row">
            <div class="col-12 p-3">
                <div class="contact-title">
                    <h2 class="text-center">Administración</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 text-center p-2">
                <a href="{% url 'blog:create' %}" type="button"
                    class="btn btn-secondary bg-white btn-lg text-dark btn-block p-4 " data-toggle="button"
                    aria-pressed="false" autocomplete="off">Crear Una
                    Noticia</a>
            </div>
            <div class="col-12 col-lg-6 text-center p-2">
                <a href="{% url 'blogAdmin:blogAdminList' %}" type="button"
                    class="btn btn-secondary bg-white btn-lg text-dark btn-block p-4" data-toggle="button"
                    aria-pressed="false" autocomplete="off">
                    Lista de notas</a>
            </div>
            <div class="col-12 col-lg-6 text-center p-2">
                <a href="{% url 'blog:category' %}" type="button"
                    class="btn btn-secondary btn-lg bg-white text-dark btn-block p-4" data-toggle="button"
                    aria-pressed="false" autocomplete="off">Crear Una
                    Crear Una categoria</a>
            </div>
            <div class="col-12 col-lg-6 text-center p-2">
                <a href="{% url 'blog:listcategories' %}" type="button"
                    class="btn btn-secondary bg-white btn-lg text-dark btn-block p-4" data-toggle="button"
                    aria-pressed="false" autocomplete="off">
                    Lista de categorias</a>
            </div>
            <div class="col-12 col-lg-6 text-center p-2">
                <a href="{% url 'social_list'%}" type="button"
                    class="btn btn-secondary bg-white btn-lg text-dark btn-block p-4" data-toggle="button"
                    aria-pressed="false" autocomplete="off">
                    Redes Sociales</a>
            </div>
            <div class="col-12 col-lg-6 text-center p-2">
                <a href="{% url 'profile'%}" type="button"
                    class="btn btn-secondary bg-white btn-lg text-dark btn-block p-4">
                    Perfil</a>
            </div>
            <div class="col-12 col-lg-6 text-center p-2">
                <a href="{% url 'admincontact'%}" type="button"
                    class="btn btn-secondary bg-white btn-lg text-dark btn-block p-4">
                    Mensajes {% if total %}<span class="badge badge-dark">{{total}}</span>{% endif %}</a>
            </div>

            {% comment 'contact' %}

            <!--div class="col-12 col-lg-6 text-center">
                <a class="btn btn-outline-primary mt-30 w-100 btn-block"
                    href="{% url 'admincontact'%}">Mensajes{% if total %}<span
                        class="badge badge-dark">{{total}}</span>{% endif %}</a>
            </div>


        <div class="col-12 col-lg-6 text-center">
            <a class="btn btn-outline-primary mt-30 w-100 btn-block"
                href="{% url 'suscriptoradminlist'%}">Suscriptores</a>
        </div>

        <div class="col-12 col-lg-6 text-center">
            <a class="btn btn-outline-primary mt-30 w-100 btn-block" href="{% url 'social_list'%}">Redes
                sociales</a>
        </div-->
            {% endcomment %}

        </div>
    </div>
</div>
{% endblock %}